.#{$pn-prefix} {
  &panel {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    z-index: 3;

    .icon-undo,
    .icon-redo {
      font-size: 20px;
      height: 30px;
      width: 25px;
    }
  }

  &commands {
    width: (100% - $leftWidth);
    left: 0;
    top: 0;
    box-shadow: 0 0 5px $mainDkColor;
  }

  &options {
    right: $leftWidth;
    top: 0;
  }

  &views {
    border-bottom: 2px solid $mainDkColor;
    right: 0;
    width: $leftWidth;
    z-index: 4;

    &-container {
      height: 100%;
      padding: 42px 0 0;
      right: 0;
      width: $leftWidth;
      overflow: auto;
      box-shadow: 0 0 5px $mainDkColor;
    }
  }

  &buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &btn {
    box-sizing: border-box;
    min-height: 30px;
    min-width: 30px;
    line-height: 21px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;

    &.#{$pn-prefix}active {
      background-color: $mainDklColor;
      box-shadow: 0 0 3px $mainDklColor inset;
    }

    svg {
      fill: currentColor;
    }
  }

  &panels {
    height: 100%;
  }

  &left-views {
    width: 35px;
    left: 0;
    z-index: 4;
    height: calc(100% - 40px);
    top: 40px;
    padding: 0;

    .#{$pn-prefix}buttons {
      flex-direction: column;
    }

    .#{$pn-prefix}btn {
      margin-right: 0;
    }
    position: relative;
  }

  &closable-content {
    &-container {
      display: none;
      &.active {
        display: block;
      }

      position: absolute;
      top: 0;
      left: 35px;
      width: 200px;
      height: 100%;
      overflow: auto;

      box-sizing: border-box;
    }

    &-header {
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;
      }

      .close {
        font-weight: normal;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
